    @font-face {
      font-family: whiterabbit;
      src: url(https://raw.githubusercontent.com/iceededpple/hackmudtheme/master/whiterabbit-webfont.ttf);
}

:root{--primary:rgb(0, 255, 255);
    --primary2:rgb(23,162,178);
    --primary2-2:23, 162, 178;
    --dark:rgb(14, 14, 14);
    --medium:rgb(16, 18, 21);
    --light:rgb(24, 25, 27);
    --chancategory:rgb(31, 219, 246);
    --prefix:rgb(255, 0, 236);
    --fontcolor:rgb(131, 176, 242);
    --mentions:rgb(255, 128, 0);
    --timestamp:rgb(114, 118, 125);
    --timestamprgb:114,118,125;
    --dots:rgb(76, 79, 80);
    --preextn: rgb(94, 92, 97);
    --playing:rgb(34, 34, 34);
    --lime:rgb(30, 255, 0);
    --yellow:rgb(255, 216, 99);
    --yellowrgb:255, 216, 99;
    --primaryrgb:0,255,255;
    --primary2rgb:23,162,178;
    --round1:0%; /* 0% for square | 50% for circle */
    --gbcolor:red;
    --gbcolor1:blue;
    --version:"1.2.8";

    --hackinbg: rgb(62, 4, 3);
    --hackinbgrgb: 62, 4, 3;
    --hackinft: rgb(241, 192, 152);
    --hackinftrgb: 231, 194, 150;
    
    --cursor: default;

    --font-primary: whiterabbit;
    --font-display: whiterabbit;
    --font-code: whiterabbit;
}

.theme-dark {
    --header-primary: var(--primary);
    --header-secondary:var(--primary2);
    --text-normal: var(--fontcolor);
    --text-muted: var(--timestamp);
    --text-link: var(--lime);

    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);

    --interactive-normal: var(--yellow);
    --interactive-hover: var(--primary);
    --interactive-active: var(--primary);
    --interactive-muted: var(--primary2);
    --background-primary: var(--light);
    --background-secondary: var(--medium);
    --background-secondary-alt: var(--medium);
    --background-tertiary: var(--dark);
    --background-accent: var(--light);
    --background-floating: var(--dark);
    --background-nested-floating: var(--dark);
    
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;

    --background-modifier-hover: rgba(var(--yellowrgb),0.16);
    --background-modifier-active: rgba(var(--yellowrgb), 0.24);
    --background-modifier-selected: rgba(var(--yellowrgb), 0.32);
    --background-modifier-accent: rgba(255, 255, 255, 0.06);

    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;
    
    --scrollbar-thin-thumb: var(--primary);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: var(--primary);
    --scrollbar-auto-track: var(--dark);

    --scrollbar-auto-scrollbar-color-thumb: var(--primary);
    --scrollbar-auto-scrollbar-color-track: var(--dark);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --channels-default: var(--dots);
    --guild-header-text-shadow: 0 1px 1px var(--lime);
    --channeltextarea-background: var(--dark);
    --activity-card-background: var(--light);
    --textbox-markdown-syntax:var(--prefix);
    --spoiler-revealed-background: var(--dark);
    --spoiler-hidden-background: var(--light);
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

.username-h_Y3Us {
    color: var(--lime);
    font-size: 14px;
    text-decoration:none!important;
}
.username-h_Y3Us::after {
    color: var(--dots);
    content: " :::";
    font-size: 14px;
}
.username-h_Y3Us::before {
    color: var(--prefix);
    content:"0000 ";
    font-size: 14px;
}

.zalgo-26OfGz .messageContent-2t3eCI {
    font-size: 12px;
    line-height: 1rem;
}

.scrollableContainer-15eg7h {
    border-radius: var(--round1);
}

.mention {
    color: var(--mentions)!important;
    background-color: rgba(255, 128, 0, 0.2)!important;
}

.channelIcon-3I2O7O {
    width: 12px;
    height: 12px;
}
.mention.iconMentionText-1_WCtN {
    padding-left: 1rem;
}

.rem-3kT9wc.botTag-7aX5WZ {
    border-radius: var(--round1);
    background-color: var(--prefix);
}

.newMessagesBar-1hF-9G, .unreadRelevant-2f-VSK, .item-2LIpTv, .jumpToPresentBar-1cEnH0 {
    border-radius: var(--round1);
    background-color: red;
}

.unread-36eUEm {
    height: 75%;
    top: 25%;
}

.compact-2Nkcau .timestamp-p1Df1m, .cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
    inline-size: auto;
}
.compact-2Nkcau .timestamp-p1Df1m:hover, 
.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH:hover {
color: var(--timestamp);
}

.wordmarkWindows-2dq6rw svg path{display:none}
.wordmarkWindows-2dq6rw svg{
    background-color:transparent;
    background-image:url(https://raw.githubusercontent.com/iceededpple/hackmudtheme/master/Custom/DiscordMUD2wSlash2.png);
    background-size:contain;
    width:90px;
    height:16px;
    padding-left:15px;
    padding-right:15px;
    margin-left:0;
    display:block;
}

.layout-1qmrhw, .content-1gYQeQ {
    border-radius: var(--round1);
}

.theme-dark .root-g14mjS, .role-2TIOKu {
    background-color: var(--dark);
    border-radius: var(--round1);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary);
}

.embedFull-1HGV2S {
    border-radius: var(--round1);
}

.embedImage-2Ynqkh img, .embedImage-2Ynqkh video, .embedThumbnail-2nTasl img, .embedThumbnail-2nTasl video, .embedVideo-2ixt5A img, .embedVideo-2ixt5A video {
    border-radius: var(--round1)!important;
}

.markup-eYLPri code, .markup-eYLPri code.inline, .codeView-12LUIl, .footer-GXWBBp {
    background-color: rgba(var(--hackinbgrgb),.5);
    padding: 3px;
    font-size: 12px;
    color: var(--hackinft);
    border-radius: var(--round1);
    border:1px solid rgba(var(--hackinftrgb), 0.9);
    box-sizing:border-box;
    font: var(--font-primary)!important;
}

.textContainer-36wgKK {
    background-color: rgba(var(--hackinbgrgb),.5);
    padding: 3px;
    font-size: 12px;
    color: var(--hackinft);
    border-radius: var(--round1);
    border:1px solid rgba(var(--hackinftrgb), 0.9);
    box-sizing:border-box;
}

.attachmentName-vgRpzs {
    color: var(--preextn);
}

.hljs {
    font: var(--font-primary)!important;
    font-size: 12px;
}

code {
    font: var(--font-primary)!important;
    font-family: var(--font-primary)!important;
    font-size: 12px;
    line-height: 14px;
}

.markup-eYLPri pre{
    background:0 0;
    border:none;
}

/* System Message = Red */
.content-vSHmMD {
    color: red;
}

/* Search Bars - Give Border / Squared */
.searchBar-3TnChZ .searchBarComponent-3N7dCG, .search-39IXmY {
    border-radius: var(--round1);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary);
}

/* Font Sizes */
.peopleColumn-1wMU14 {
    background-color: var(--light);
    font-size: 12px;
}
.username-Qpc78p {
    font-size: 12px;
}
.text-MPIeXO {
    font-size: 12px;
}

/* Make Things Square - Instead of Rounded */
.actions-YHvpIT, 
.listItemContents-2n2Uy9, 
.peopleListItem-u6dGxF:hover, 
.topPill-3DJJNV, 
.children-3xh0VB,
.tabBar-ra-EuL .item-3mHhwr, 
.tabBody-2dgbAs, 
.nowPlayingColumn-1eCBCN,
.container-1oAagU,
.scroller-hE2gWq,
.itemCard-3Etziu,
.searchHeaderTabList-3CZMQB,
.side-2ur1Qk .item-3XjbnG {
    border-radius: var(--round1);
}
.px-MnE_OR.botTag-7aX5WZ {
    border-radius: var(--round1);
}

/* Hover over User, Channel, or Buttons - Color */
.default-rFvAvS {
    color: var(--yellow);
}
.hovered-20u3oh {
    color: var(--prefix);
}

/* Add Trust Communication before System Messages */
.systemMessage-1H1Z20::before {
    color: red;
    content:'::: TRUST COMMUNICATION :::   ';
    display: block;
    font-size: 14px;
    line-height: 1rem;
}

/* Font Sizes - Members / Friends */
.name-3Vmqxm {
    font-size: 12px;
}
.activity-2EQDZv, .subtext-14b69p {
    font-size: 10px;
}

/* Avatars Square */
.wrapper-1VLyxH,
.avatar-6qzftW,
.status-1CWzUb, .svg-2azL_l,
.pointerEvents-9SZWKj,
.mask-1FEkla,
.avatarStack-3vfSFa,
.avatar-b5OQ1N, .avatarSpeaking-33RRJU,
a img, .avatar-b5OQ1N:before, img,
.avatar-2Vndt_,
.avatarHint-k7pYop,
.avatarHintInner-2HUAWj,
.clickable-GKg4Qy,
.userPopout-2j1gM4,
.unread-2wipsx,
.reaction-2A2y9y,
.reaction-2A2y9y .emoji

{
    border-radius: 0% !important;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    font-family: var(--font-primary)!important;
}

.scroller-2GkvCq {
    background-color: var(--dark)!important;   
}
.reactors-1VXca7, .reactionDefault-1Sjj1f, .reactionSelected-1aMb2K {
    background-color: var(--medium)!important;
}
.discriminator-1DCM-o {
    color: var(--prefix)!important;
}

.queryContainer-ZunrLZ {
    background-color: var(--dark)!important;
}
.resultsGroup-1BPR25 {
    background-color: var(--light)!important;
}
.keybindShortcut-3zF1P9 span {
    background-color: var(--medium)!important;
    box-shadow: inset 0 -4px 0 var(--primary2)!important;
}


