@font-face {
    font-family: whiterabbit;
    src: url(https://raw.githubusercontent.com/iceededpple/hackmudtheme/master/whiterabbit-webfont.ttf);
}

:root{--primary:rgb(0, 255, 255);
    --primary2:rgb(23,162,178);
    --primary2-2:23, 162, 178;
    --dark:rgb(14, 14, 14);
    --medium:rgb(16, 18, 21);
    --light:rgb(24, 25, 27);
    --chancategory:rgb(31, 219, 246);
    --prefix:rgb(255, 0, 236);
    --fontcolor:rgb(131, 176, 242);
    --mentions:rgb(255, 128, 0);
    --timestamp:rgb(114, 118, 125);
    --timestamprgb:114,118,125;
    --dots:rgb(76, 79, 80);
    --playing:rgb(34, 34, 34);
    --lime:rgb(30, 255, 0);
    --yellow:rgb(255, 216, 99);
    --yellowrgb:255, 216, 99;
    --primaryrgb:0,255,255;
    --primary2rgb:23,162,178;
    --round1:0%; /* 0% for square | 50% for circle */
    --gbcolor:red;
    --gbcolor1:blue;
    --version:"1.2.8";}

    @font-face {
      font-family: whiterabbit;
      src: url(https://raw.githubusercontent.com/iceededpple/hackmudtheme/master/whiterabbit-webfont.ttf);
  }
  
  :root{--primary:rgb(0, 255, 255);
      --primary2:rgb(23,162,178);
      --primary2-2:23, 162, 178;
      --dark:rgb(14, 14, 14);
      --medium:rgb(16, 18, 21);
      --light:rgb(24, 25, 27);
      --chancategory:rgb(31, 219, 246);
      --prefix:rgb(255, 0, 236);
      --fontcolor:rgb(131, 176, 242);
      --mentions:rgb(255, 128, 0);
      --timestamp:rgb(114, 118, 125);
      --timestamprgb:114,118,125;
      --dots:rgb(76, 79, 80);
      --playing:rgb(34, 34, 34);
      --lime:rgb(30, 255, 0);
      --yellow:rgb(255, 216, 99);
      --yellowrgb:255, 216, 99;
      --primaryrgb:0,255,255;
      --primary2rgb:23,162,178;
      --round1:0%; /* 0% for square | 50% for circle */
      --gbcolor:red;
      --gbcolor1:blue;
      --version:"1.2.8";}

      a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var{
        font-family: whiterabbit;
        font-size: 10;
      }
.theme-dark .scroller-3X7KbA {background-color: var(--dark);font-family: whiterabbit;}
main.chatContent-3KubbW {background-color: var(--light);font-family: whiterabbit;}